@font-face {
  font-family: "Onest";
  src: url("../fonts/OnestRegular1602-hint.ttf");
  src: local("../fonts/OnestRegular1602-hint.ttf"),
    url("../fonts/OnestRegular1602-hint.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/OnestMedium1602-hint.ttf");
  src: local("../fonts/OnestMedium1602-hint.ttf"),
    url("../fonts/OnestMedium1602-hint.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/OnestBold1602-hint.ttf");
  src: local("../fonts/OnestBold1602-hint.ttf"),
    url("../fonts/OnestBold1602-hint.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@import "mixins";
@import "vars";
@import "general";
@import "parts/header";
@import "parts/home";
@import "parts/overcome";
@import "parts/card";
@import "parts/get";
@import "parts/why";
@import "parts/review";
@import "parts/text";
@import "parts/footer";


.svgvisible {
  display: block;
}

.svghidden {
  display: none;
}

#animationWindow > svg {
  padding-top: 20px;
  padding-bottom: 20px;

  max-height: 100vh;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.preloader-remove {
  display: none !important;
}

.home__lot {
  margin-top: -100px;
  width: 100%;
  pointer-events: none;

  border-radius: 8px;
  @include breakpoint(1261px) {
    display: none;
  }
}

svg {
  // -webkit-backface-visibility: hidden !important;
  // -webkit-transform: translateZ(0) scale(1, 1) !important;
  // transform: translateZ(0) !important;
  // transform: unset !important;
}

.lottieanim {
  // transform: translate(0px, -50%);
  // margin-top: 50%;
  width: 100%;
}
